logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
*.class
_testerrors.txt
AtomicLog.txt
_AtomicTestErrors.txt
/project/*shim.sbt
/.sbtserver/
/project/.sbtserver
/project/.sbtserver.lock
/project/sbt-ui.sbt

